body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/desert-4779167_1280.jpg');
    font-family: 'zabras', 'Arial';
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

canvas {
    background-color: black;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('truetype');
}

h1 {
    font-size: 64px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    margin-top: 50px;
    color: #FFCD15;
}

.play {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    z-index: 1000;
    text-align: center;
}

.play img {
    max-width: 100%;
    height: auto;
}

.text {
    margin-top: 20px;
    font-size: 20px;
    color: #FFCD15;
}

.text h2 {
    margin: 5px 0;
}

#dialog-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

#startButton {
    font-size: 70px;
    font-family: 'zabras';
    cursor: pointer;
    color: #FFCD15;
    border: none;
    background-color: transparent;
}

#openDialogButton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    top: 700px;
    font-family: 'zabras';
}

#openDialogButton:hover {
    background-color: #0056b3;
}

#closeDialog {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    font-family: 'zabras';
}

#closeDialog:hover {
    background-color: #0056b3;
}

#soundButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
    border: none;
    background: none;
}

.playbutton {
    width: 32px;
}

#gameContainer {
    position: relative;
    width: 720px;
    height: 480px;
    margin: auto;
}

#buttonContainer {
    width: 720px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.portrait-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    text-align: center;
    z-index: 10000;
}

.control-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.control-btn:hover {
    background-color: #0056b3;
}

.mobile_btn {
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 10px 16px;
    background-color: transparent;
}

.mobile_btn:hover {
    background-color: #0056b3;
}

#mobileControls {
    display: none;
    bottom: 20px;
    position: relative;
    top: 100px;
    left: 16px;
    cursor: pointer;
}


footer {
    display: flex;
    gap: 32px;
    font-size: 40px;
    bottom: 100px;
}

footer a {
    text-decoration: none;
    color: #FFCD15;
}

.impressum {
    text-align: center;
    font-size: 32px;
    color: lawngreen;
}

.mail {
    text-decoration: none;
    color: lawngreen;
}

.tel {
    text-decoration: none;
    color: lawngreen;
}

.impressum p {
    margin-left: 200px;
    margin-right: 200px;
}

@media only screen and (max-width: 720px) and (orientation: landscape) {
    #mobileControls {
        display: flex;
    }

    #openDialogButton {
        display: none;
    }

    footer {
        top: 300px;
        left: 280px;
    }
}

@media only screen and (max-width: 720px) and (orientation: portrait) {
    canvas {
        width: 100%;
    }

}

@media only screen and (max-width: 480px) {
    canvas {
        height: 100vh;
    }

    #soundButton {
        left: 200px;
    }

    .control-btn {
        padding: 8px 16px;
        font-size: 16px;
    }

    #mobileControls {
        align-items: center;
    }

    h1 {
        display: none;
    }

    .impressum h1 {
        display: block;
    }

}